<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469498857618-fdkh3144dkn3v1sv0dupelp8hupjteoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469498857618-fdkh3144dkn3v1sv0dupelp8hupjteoj</string>
	<key>API_KEY</key>
	<string>AIzaSyCZozgUgIdPYOweBVkN1BWxcL6HWnE90kk</string>
	<key>GCM_SENDER_ID</key>
	<string>469498857618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.backupCamera</string>
	<key>PROJECT_ID</key>
	<string>photogalery-2fc47</string>
	<key>STORAGE_BUCKET</key>
	<string>photogalery-2fc47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469498857618:ios:710b23e5f3290375237e4b</string>
</dict>
</plist>